modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 39685
externalPort = 3000

[[ports]]
localPort = 46713
externalPort = 3001

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bun run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[nix]
channel = "stable-25_05"
